.head{
    padding: 25px;
    font-size:30px;
    margin-left:10%;
}
nav a{
    background-color: black;
    text-decoration:none;
    color:whitesmoke;
    display:block;
}
.heading{
    font-family: Arial;
    margin-left:10%;
}
.ex1{
    font-family: Arial;
    margin-left: 10%;
}
#img1{
    margin-left:10%;
}