.ex3{
    text-align: center;
  }
  .ex3text{
    display:grid;
    grid-template-columns: repeat(3,9fr);
    align-items: baseline;
    margin-left:20%;
    margin-right:20%;
    /* text-align: center; */

  }
  .ex3text::after, .ex3text::before{
    content: "";
    height: 1px;
    background-color: black;
    display: block;
  }


form input,button{
    margin: 10px;
}