.ex5 header{
    position:-ms-page;
    background-color: gray;
    height:40px;
}
.ex5 nav{
    background-color: black;
    margin:0;
    padding: 10px; 

}
.ex5 nav a{
    display: inline;
    color:white;
    margin-right: 7%;
    
}
aside{
    float: right;
}